html {
    background-color: #ef4122;

    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto Thin", sans-serif;

    background-color: white;

    margin: 0;
    padding-top: 5px;

    width: 100%;
}

html, body {
    overflow-x: hidden;

    padding: 0;
}

div.content {
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 5%;
}

form {
    margin-bottom: 10%;
}

#tryagain_form {
    margin-bottom: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: #6b6c6b;
    font-size: 20px;
}

input.submit_button {
    color: white;
    font-weight: bolder;

    background-color: #ef4122;

    border-color: #ef4122;
    border-radius: 0;
    border-width: 1px;
    border-style: none;

    padding: 5px;
    margin-top: 20px;

    width: 40%;

    cursor: pointer;
}

input.submit_button:hover {
    background-color: #f9abab;
}

.poster_div img {
    width: 20%;
}